.container {
  height: 500px;
  position: relative;
}

.child {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

path {
  stroke: white;
  fill: #99c2a2 !important;

  transition: fill 0.4s ease;
}

path:hover {
  fill: #3d5467 !important;
}

.state_table {
  border: 1px solid;
  border-color: black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid;
  border-color: black;
}
