.container {
  height: 500px;
  position: relative;
}

.child {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

path {
  stroke: white;
  fill: #99c2a2 !important;

  transition: fill 0.4s ease;
}

path:hover {
  fill: #3d5467 !important;
}

.state_table {
  width: 30%;
  border: 1px solid;
  border-color: black;
  border-collapse: collapse;
}

td,
th {
  height: 35px;
  border: 1px solid;
  border-color: black;
}

.bottom-right {
  position: fixed;
  text-decoration: underline;
  font-size: large;
  color: black;
  right: 0px;
  bottom: 0px;
}

a {
  color: #3d5467;
}

.row {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

p {
  text-decoration: underline;
}

img {
  width: 30%;
  height: 30%;
}
