<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/app.js"></script>
    <title>Home Page</title>
</head>

<body>
    <h1 style="text-align: center;">Click A State For More Information</h1>
    <div id="pop-up"></div>
    <div class="container">
        <div class="child">
            {{us_map}}
            <div class="bottom-right">
                <a target= "_self" href="{{ request.url_root }}us/list">List View</a>
            </div>
        </div>
    </div>
</body>

</html>