<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>List View</title>
</head>

<body>
    <h1 style="text-align: center;">Click A State For More Information</h1>
    <div class="row">
        <div class="column">
            <p name="Alaska">Alaska</p>
            <p name="Alabama">Alabama</p>
            <p name="Arkansas">Arkansas</p>
            <p name="Arizona">Arizona</p>
            <p name="California">California</p>
            <p name="Colorado">Colorado</p>
            <p name="Connecticut">Connecticut</p>
            <p name="Delaware">Delaware</p>
            <p name="Florida">Florida</p>
            <p name="Georgia">Georgia</p>
        </div>
        <div class="column">
            <p name="Hawaii">Hawaii</p>
            <p name="Iowa">Iowa</p>
            <p name="Idaho">Idaho</p>
            <p name="Illinois">Illinois</p>
            <p name="Indiana">Indiana</p>
            <p name="Kansas">Kansas</p>
            <p name="Kentucky">Kentucky</p>
            <p name="Louisiana">Louisiana</p>
            <p name="Massachusetts">Massachusetts</p>
            <p name="Maryland">Maryland</p>
        </div>
        <div class="column">
            <p name="Maine">Maine</p>
            <p name="Michigan">Michigan</p>
            <p name="Minnesota">Minnesota</p>
            <p name="Missouri">Missouri</p>
            <p name="Mississippi">Mississippi</p>
            <p name="Montana">Montana</p>
            <p name="North Carolina">North Carolina</p>
            <p name="North Dakota">North Dakota</p>
            <p name="Nebraska">Nebraska</p>
            <p name="New Hampshire">New Hampshire</p>
        </div>
        <div class="column">
            <p name="New Jersey">New Jersey</p>
            <p name="New Mexico">New Mexico</p>
            <p name="Nevada">Nevada</p>
            <p name="New York">New York</p>
            <p name="Ohio">Ohio</p>
            <p name="Oklahoma">Oklahoma</p>
            <p name="Oregon">Oregon</p>
            <p name="Pennsylvania">Pennsylvania</p>
            <p name="Rhode Island">Rhode Island</p>
            <p name="South Carolina">South Carolina</p>
        </div>
        <div class="column">
            <p name="South Dakota">South Dakota</p>
            <p name="Tennessee">Tennessee</p>
            <p name="Texas">Texas</p>
            <p name="Utah">Utah</p>
            <p name="Virginia">Virginia</p>
            <p name="Vermont">Vermont</p>
            <p name="Washington">Washington</p>
            <p name="Wisconsin">Wisconsin</p>
            <p name="West Virginia">West Virginia</p>
            <p name="Wyoming">Wyoming</p>
        </div>
        <div class="bottom-right">
            <a target="_self" href="{{ request.url_root }}">Map View</a>
        </div>
    </div>
</body>

</html>