<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>{{info.name}}</title>
</head>

<body>
    <h1>{{info.name}}</h1>
    <div class="inforow">
    <div class="column">
    <table class="state_table">
        <tr>
            <th>
                Capital
            </th>
            <td>
                {{ info.capital }}
            </td>
        </tr>
        <tr>
            <th>
                Largest City
            </th>
            <td>
                {{ info.largest_city }}
            </td>
        </tr>
        <tr>
            <th>
                Governor
            </th>
            <td>
                {{ info.governor }}
            </td>
        </tr>
        <tr>
            <th>
                Admitted To The Union
            </th>
            <td>
                {{ info.admitted }}
            </td>
        </tr>
        <tr>
            <th>
                Area (sq. mi.)
            </th>
            <td>
                {{ info.area }}
            </td>
        </tr>
    </table>
    <a href="{{ request.url_root }}">back to map</a>
    </div>
    <div class="column">
    <img src="{{ image }}" alt="An image from {{ info.name }} ">
    </div>
    </div>
</body>

</html>